
# here a comment

module: "prov#ider"
path="plugins/testplugin/libtestplugin.so"
outstreams="providestream"
args="provider"
frequency="1.3"
blocking="-1"

module: "transformer"
path= "plugins/testplugin/libtestplugin.so"
instreams= "providestream"
outstreams= "transformstream"
args= "transformer"
frequency="1.3"
blocking="-1"

module: "consumer"
path="plugins/testplugin/libtestplugin.so"
instreams="transformstream"
args="consumer"
frequency="1.3"
blocking="-1"
