
# here a comment

module: "provider"
path:"plugins/testplugin/libtestplugin.so"
outstreams:"providestream"
type:"provider"
frequency:"1.0"
blocking:"0"

module: "transformer"
path: "plugins/testplugin/libtestplugin.so"
instreams: "providestream"
outstreams: "transformstream" "debugstream" "debugstream2"
type: "transformer"
frequency:"1.0"
blocking:"0"


debug: debug1
instreams: "debugstream" "debugstream2"
loglevel:"2"
