
# here a comment

module: "pro#vider"
path: "plugins/testplugin/libtestplugin.so"
outstreams:"providestream"
type :"provider"
frequency:"1.0"
blocking:"0"

module: "transf#ormer"
path: "plugins/testplugin/libtestplugin.so"
instreams: "providestream"
outstreams: "transformstream" "debugstream"
type: "transformer"
frequency:"1.0"
blocking:"0"

module: "consumer"
path:"plugins/testplugin/libtestplugin.so"
instreams:"transformstream"
type:"consumer"
frequency:"1.0"
blocking:"0"

debug: debug1
instreams:"debugstream"
loglevel:"0"
