
# here a comment

module: "provider"
path="plugins/testplugin/libtestplugin.so"
outstreams="providestream"
args="provider"
frequency="1.0"
blocking="0"

module: "transformer"
path= "plugins/testplugin/libtestplugin.so"
instreams= "providestream"
outstreams= "transformstream" "debugstream"
args= "transformer"
frequency="1.0"
blocking="0"


debug:
instreams="debugstream" "debugstream"
loglevel="2"
